@charset "UTF-8";

@font-face {
	font-family: 'pop-Light';
	src: url('../../fonts/ONE Mobile Light.ttf') format('woff');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'pop-Light';
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: gray;
	
}
.click {
	color:#f7c95e;
}

footer {
	margin: 0 auto;
	width: 1000px;
	height: 150px;
	background-color: #fbfbfb;
	min-width: 800px;
}

#footer_wrap {
	width:1000px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
}

#footer_wrap ul{
	overflow: hidden;
	display: inline-block;
	margin: 3px 30px;
}

#footer_wrap ul li{
	float: left;
	margin-right: 15px;
}

#footer_wrap ul:nth-child(n+2) li{
	font-size: 0.9em;
}

#footer_wrap ul:first-child {
	margin-top: 20px;
}

.border {
	border-right: 2px solid lightgray;
	height: 100px;
	margin-left: 15px;
}

footer #footer_wrap span {
	font-size: 0.7em;
}
