@charset "UTF-8";
@font-face {
	font-family: 'pop-Light';
	src: url('../fonts/ONE Mobile Light.ttf') format('woff');
}

*{
	margin:0;
	padding:0;
	font-family:'pop-Light';
}

li {
	list-style: none;
}

#header_wrap{
	width:1000px;
	height:130px;
	border: 1px solid gray;
	margin: 0 auto;
	overflow: hidden;
}
.sch{
	width: 700px;
	float: left;
	border: 1px solid blue;
	box-sizing: border-box;
	height:80px;
}

.join{
	width: 300px;
	overflow:hidden;
	border: 1px solid green;
	box-sizing: border-box;
	height:80px;
}

.join span{
	float: right;
}

.lnb{
	width: 1000px;
	border: 1px solid red;
	box-sizing: border-box;
}

.lnb ul{
	overflow: hidden;
}

.lnb ul li{
	float: left;
}