@charset "UTF-8";

@font-face {
	font-family: 'pop-Light';
	src: url('../../fonts/ONE Mobile Light.ttf') format('woff');
}

* {
	margin: 0; 
	padding: 0;
	font-family: 'pop-Light';
}

li {
	list-style: none;
}

#write_warp a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}

#write_warp {
	width: 1000px;
	height:100%;
	margin: 0 auto;
	text-align: center;
}

.write_content {
	margin:50px 10px 30px 10px;
	width:100%;
}

.write_title h2{
	width:300px;
	text-align: left;
	margin-left: 60px;
}

#write_warp hr {
	width:850px;
	height:0.5px;
	background:#f7c95e;
	margin: 30px 0 5px 60px;
    border:0;
}

.write_content p {
	text-align: left;
	margin:10px 0 5px 103px;
}

.write_content input[type=text] {
	width:787px;
	height: 25px;
	border:1px solid #fca949;
	padding-left: 10px;
	outline: #fca949;
}

.write_content .textarea{
	width:777px;
	height:300px;
	margin:0 0 35px 100px;
}

.write_content textarea {
	resize: none;
	border:1px solid #fca949;
	padding: 10px;
	width:100%;
	height:100%;
	outline:  #fca949;
}

.write_content input[type=file]{
	width:798px;
	height: 35px;
	background-color: #fbfbfb;
	padding-top:10px;
}

.write_content input[type=submit], input[type=reset] {
	width:80px;
	height: 40px;
	background-color: #f7c95e;
	color:white;
	border-radius: 20px;
	border:none; 
	font-size:1.2em;
	cursor:pointer;
	margin: 30px 15px 0 0;
}